// Colores
$color-primary: #456789;
$color-accent: #28a745;
$color-dark: #000000;
$color-light: #ffffff;

// Dimensiones
$border-radius: 15px;
$box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;