.contact-form {
    max-width: 400px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input-wrapper label {
    margin-right: 10px;
}

input,
select {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.checkbox-label {
    margin-left: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: $color-accent;
    color: $color-light;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #f44336;
}
