.gallery-container img {
    opacity: 0.8;
    transition: all 0.3s ease;
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.gallery-container img:hover {
    opacity: 1;
    transform: scale(1.05);
}
