.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}

.gallery-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.gallery-container img:hover {
    opacity: 1;
    transform: scale(1.05);
}