header {
    $header-gradient: linear-gradient(to right, map-get($color-gradiente, izquierda), map-get($color-gradiente, centro-izquierda), map-get($color-gradiente, centro-derecha), map-get($color-gradiente, derecha));
    background: $header-gradient;
    padding: 10px 0;
    color: $color-light;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h1,
iframe,
footer {
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}