#parejaViajando {
    opacity: 100%;
}

#section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#section5 {
    text-align: center;
}

#section5 h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#section5 p {
    margin-bottom: 50px;
}

#section5 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: $color-primary;
    padding: 10px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

#section5 .container h2 {
    margin-bottom: 20px;
}

#section5 .container p {
    text-align: center;
}

#section5 .container img {
    width: 35rem;
    margin-left: 20px;
    border-radius: $border-radius;
}