.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.image-wrapper:not(#parejaViajando) {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;

    img {
        width: 100%;
        height: auto;
        @include card-animation;
    }

    &:hover img:not(#parejaViajando) {
        transform: scale(1.1);
    }
}

.image-wrapper:last-child {
    margin-right: 0;
}

.image-wrapper:hover .text-overlay {
    opacity: 1;

}

.logo {
    max-width: 150px;
    width: 100%;
    height: auto;
}