.image-container {
    display: flex;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.image-wrapper:last-child {
    margin-right: 0;
}

.image-wrapper img {
    opacity: 0.8;
    border-radius: 5px;
    height: 25rem;
}