//Bucle para crear gradientes
@each $posicion,
$color in $color-gradiente {
    .image-wrapper.#{$posicion} {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, map-get($color-gradiente, $posicion));
            z-index: -1;
        }
    }
}